
/* student_page_heading = "Student Information" alignment */
.student_page_heading {
    text-align: center;
    padding-top: 2% ;
    font-weight: 800;

}

/* input fields */
/* .input_fields{
    background-color: rgb(221, 61, 61);
} */

/* search field */
.search_field{
    justify-content: center;
    display: flex;
    /* background-color: grey; */
    /* align-items: center; */
    /* text-align: center; */
    /* text-align: center; */
}

/* search box */
.search_box{
    padding: 5px;
    text-align: center;
    background-color: gray;
    min-width: 20px;
    max-width: 100px;
    width: 50%;
}