
/* student_page_heading = "Student Information" alignment */
.student_page_heading {
    text-align: center;
    padding-top: 2% ;
    font-weight: 800;

}

/* input fields */
/* .input_fields{
    background-color: rgb(221, 61, 61);
} */

.form{
    justify-content: center;
    align-items: ;
}

/* search field */
.search_field{
    width: 50%;
    min-width: 250px;
    max-width: 300px;
    height: 180px;
    text-align: center;

    /* justify-content: center; */
    /* display: flex; */
    /* background-color: grey; */
    /* align-items: center; */
    /* text-align: center; */
    /* text-align: center; */
}

/* search box */
.search_box{
    background-color: gray;
    border-radius: 25px;
    position: relative;
    /* padding: 5px; */
    /* text-align: center; */
    /* min-width: 240px; */
    /* max-width: 259px; */
    /* width: 30%; */
}

/* search text box */
.search_in_student_page{
    background-color: brown;
}