/* StudentDetailsTable page height limiting and hide scrollbar */
.StudentDetailsTable{
    width: auto;
    height: 800px;
    overflow-y: visible;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.StudentDetailsTable::-webkit-scrollbar{
    display: none;
}

/* page Heading and Input group alignment */
.HeadAndInput{
    
}