#BackToTopButton{
    bottom: 0;
    right: 1%;
    color: aliceblue;
    background-color: blueviolet;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 10px;
    font-weight: 900;
    bottom: 25px;
    box-shadow: 50px;
}