#BackToTopButton{
    bottom: 0;
    right: 1%;
    color: rgb(0, 0, 0);
    background-color:  rgb(255, 120, 255);
    position: fixed;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 25px;
    font-size: 55px;
    font-weight: 900;
    bottom: 25px;
    animation: BackToTopButton 1s linear infinite alternate-reverse;
}
#BackToTopButton:hover{
    background-color: rgb(219, 4, 219);
    transition: background-color 0.5s;
}
/* while clicking BackToTopButton  */
#BackToTopButton:active {
    background-color: rgb(255, 255, 255);;
    transition: background-color 0s; 
}
#BackToTopButton:focus{
    outline: none;
}
@keyframes BackToTopButton{
    0% {
        transform: translateY(-0.5rem);
    }
    100% {
        transform: translateY(1rem);
    }
}