.footer {
    bottom: 0;
    margin-left: 4%;
    position: fixed;
    /* align: bottom; */
  }

.logodigiproit {
  width: 55%;
  /* align: bottom; */
  /* max-width: 50%; */
  /* max-height: 50%; */
}