::-webkit-scrollbar{
    width: 1rem;
}
::-webkit-scrollbar-track{
    background-color: var(--black);
    background-color: transparent;
    /* background-color: rgba(255, 120, 255); */
    /* background-color: black; */
}
::-webkit-scrollbar-thumb{
    /* background-color: purple; */
    background-color:  rgb(255, 120, 255);
    /* background-color: white; */
    border-radius: 1em;
    border: 2rem solid transparent;
    /* background-color: aliceblue; */
    /* background-clip:content-box; */
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--helper tint);
    border-radius: 1rem ;
    border: 2rem solid transparent;
    /* background-clip: content-box; */
}